.buttonFinish{
    text-decoration: none;
    color: white;
    background-color: black;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 1000;
}

.buttonFinish:hover{
    color: black;
    background-color: gray;
    transition: .2s ease-in ;
}

