.containerLogo{
    display: flex;
    margin-bottom: -55px;
    margin-left: 10px;
}

.logo{
    width: 60px;
}

.tituloApp{
    margin: 15px 0 0 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 1000;
    font-size: 1.3rem;
}
